
* {
  box-sizing: border-box;
  outline: none;
}
:root {
  --bg-color: #b1c8ff;
  --main-color: #353536;
  --secondary-color: #8e92a4;
  --main-text-color: #5d606b;
  --secondary-dark-color: #9496a5;
  --tag-color-one: #e0fbf6;
  --tag-color-text-one: #58c2a9;
  --tag-color-two: #ece7fe;
  --tag-color-text-two: #8972f3;
  --button-color: #49beb7;
  --box-color: #fff1d6;
  --box-color-2: #d3e6ff;
  --box-color-3: #ffd9d9;
  --box-color-4: #daffe5;
}

body {
  margin: 0;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  height: 100vh;
  padding: 0px;
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.task-manager {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  max-height: 900px;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
}

.left-bar {
  background-color: var(--bg-color);
  width: 200px;
  border-right: 1px solid #e3e7f7;
  position: relative;
}

.left-content {
  padding: 40px;
}
.item {
  color: var(--main-color);
  margin-bottom: 14px;
  font-weight:bold;
  font-size:medium;
}

.category-list {
  margin-top: 50px;
}
.category-list .item {
  color: var(--secondary-color);
}

/* centre page styling */

.page-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 40px 20px 0 20px;
}

.page-content .header {
  font-size: 26px;
  color: var(--main-color);
  margin-top: 30px;
}

.content-categories {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
}

.nav-item {
  display: none;
}

.category {
  font-weight: 500;
  color: var(--secondary-color);
  border-bottom: 1px solid #ddd;
  transition: 0.4s ease-in;
  padding: 20px 30px;
}

/* Task Wrapper styling starts here */

.tasks-wrapper {
  padding: 30px 0;
  flex: 1;
  overflow-y: auto;
  height: 100%;
  padding-right: 8px;
}

.task {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 16px;
  padding-left: 30px;
  color: var(--task-color);
  font-size: 15px;
  font-weight: 500;
}
.task:hover {
  transform: translatex(2px);
}
.task label {
  cursor: pointer;
}
label .label-text {
  position: relative;
}

.tag {
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 16px;
}
.tag.start {
  background-color: var(--tag-color-one);
  color: var(--tag-color-text-one);
}
.tag.end {
  background-color: var(--tag-color-two);
  color: var(--tag-color-text-two);
}

/* right bar styling starts here */

.right-bar {
  width: 320px;
  padding-top: 50px;
  border-left: 1px solid #e3e7f7;
  display: flex;
  flex-direction: column;
}

.right-bar .header {
  font-size: 20px;
  color: var(--main-text-color);
  margin-left: 30px;
}
.right-content {
  padding: 10px 40px;
  overflow-y: auto;
  flex: 1;
}
.task-box {
  position: relative;
  border-radius: 8px;
  width: 100%;
  margin: 20px 0;
  padding: 16px;
  cursor: pointer;
}
.task-box:hover {
  transform: scale(1.02);
}

.task-name {
  font-size: 14px;
  font-weight: 500;
  opacity: 0.6;
}
.yellow {
  background-color: var(--box-color);
}
.blue {
  background-color: var(--box-color-2);
}
.red {
  background-color: var(--box-color-3);
}
.green {
  background-color: var(--box-color-4);
}

.a-error{
  color: rgb(242, 47, 47);
}

.addTask{
  background-color: var(--button-color);
  border-radius: 6px;
}
.addTask:hover{
  background-color:#daffe5;
  transform: scale(1.1);
}
